{
  "openapi": "3.0.0",
  "info": {
    "title": "Alt Magic API",
    "description": "Generate AI-powered alt text for images with automatic fallback",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.altmagic.pro",
      "description": "Production API server"
    }
  ],
  "paths": {
    "/api-alt-text": {
      "post": {
        "summary": "Generate Alt Text",
        "description": "Generate descriptive alt text for images using AI with automatic fallback from Gemini to OpenAI",
        "operationId": "generateAltText",
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image_url",
                  "user_id"
                ],
                "properties": {
                  "image_url": {
                    "type": "string",
                    "description": "Publicly accessible URL of the image to generate alt text for",
                    "format": "uri"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "Unique identifier (email) for the user requesting the alt text",
                    "format": "email"
                  },
                  "blog_title": {
                    "type": "string",
                    "description": "Blog or article title to provide additional context"
                  },
                  "seo_keywords": {
                    "type": "string",
                    "description": "Comma-separated keywords for SEO optimization"
                  },
                  "language_code": {
                    "type": "string",
                    "description": "Language code (e.g., 'en', 'fr', 'es') for generated alt text"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful alt text generation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "altText": {
                      "type": "string",
                      "description": "The generated alt text"
                    },
                    "CreditsAvailable": {
                      "type": "integer",
                      "description": "Remaining credits for the user after this request"
                    },
                    "plan_type": {
                      "type": "string",
                      "description": "The user's subscription plan"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - no credits remaining"
          },
          "404": {
            "description": "User not found"
          },
          "429": {
            "description": "Too many requests - rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}